# List

In [5]:
lst=["prajwala",30,54,34.50,27,"deode",[3,4,5]]

In [6]:
lst

['prajwala', 30, 54, 34.5, 27, 'deode', [3, 4, 5]]

In [7]:
lst.append(9)

In [4]:
lst

['prajwala', 30, 54, 34.5, 27, 'deode', 9]

In [8]:
lst[4]

27

In [9]:
lst[1:3]

[30, 54]

In [10]:
lst[-2]

[3, 4, 5]

In [11]:
lst[-2][1]

4

In [12]:
lst.insert(2,45)

In [13]:
lst

['prajwala', 30, 45, 54, 34.5, 27, 'deode', [3, 4, 5], 9]

In [14]:
lst.pop()

9

In [15]:
lst

['prajwala', 30, 45, 54, 34.5, 27, 'deode', [3, 4, 5]]

In [16]:
lst.reverse()

In [17]:
lst

[[3, 4, 5], 'deode', 27, 34.5, 54, 45, 30, 'prajwala']

In [18]:
lst.index(30)

6

In [19]:
lst.remove(45)
lst

[[3, 4, 5], 'deode', 27, 34.5, 54, 30, 'prajwala']

In [20]:
lst.extend([4,6,8])
lst

[[3, 4, 5], 'deode', 27, 34.5, 54, 30, 'prajwala', 4, 6, 8]

In [21]:
lst.insert(3,"hello")
lst

[[3, 4, 5], 'deode', 27, 'hello', 34.5, 54, 30, 'prajwala', 4, 6, 8]

In [22]:
lst1 = lst.copy()
lst1

[[3, 4, 5], 'deode', 27, 'hello', 34.5, 54, 30, 'prajwala', 4, 6, 8]

In [23]:
lst1.clear()
lst1

[]

In [26]:
lst.count(27)

1

In [27]:
lst1=[2,7,3,5,9]
lst1.sort()

In [28]:
lst1

[2, 3, 5, 7, 9]

# Dictionary

In [40]:
dic={"Name":"Prajwala","Age":21,"Number":2356783450,"College":"Fergusson"}

In [41]:
dic

{'Name': 'Prajwala', 'Age': 21, 'Number': 2356783450, 'College': 'Fergusson'}

In [42]:
dic.get("Name")

'Prajwala'

In [43]:
dic.items()

dict_items([('Name', 'Prajwala'), ('Age', 21), ('Number', 2356783450), ('College', 'Fergusson')])

In [44]:
dic.pop("Name")

'Prajwala'

In [45]:
dic

{'Age': 21, 'Number': 2356783450, 'College': 'Fergusson'}

In [46]:
dic["city"]="Pune"

In [47]:
dic

{'Age': 21, 'Number': 2356783450, 'College': 'Fergusson', 'city': 'Pune'}

In [48]:
dic.keys()

dict_keys(['Age', 'Number', 'College', 'city'])

In [49]:
dic.popitem()

('city', 'Pune')

In [50]:
dic

{'Age': 21, 'Number': 2356783450, 'College': 'Fergusson'}

In [51]:
dic1={"Age":22}

In [52]:
dic.update(dic1)

In [53]:
dic

{'Age': 22, 'Number': 2356783450, 'College': 'Fergusson'}

In [54]:
dic.values()

dict_values([22, 2356783450, 'Fergusson'])

# Sets

In [55]:
st={1,4,2,8,6,7,3,9,5,3,7,4,7,9,3}

In [56]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [57]:
st.add(10)

In [58]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [59]:
st1={2,4,3,6,8,4,6,9,5}
st1

{2, 3, 4, 5, 6, 8, 9}

In [60]:
st1.issubset(st)

True

In [61]:
st.update([11,12,1,2])

In [62]:
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [63]:
st.discard(12)
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [64]:
st.remove(11)
st

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [65]:
st.pop()
st

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [66]:
st.union(st1)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
st.intersection(st1)

{2, 3, 4, 5, 6, 8, 9}

In [68]:
st.difference(st1)

{7, 10}

In [69]:
st.symmetric_difference(st1)

{7, 10}

In [70]:
st.isdisjoint(st1)

False

In [71]:
st.issuperset(st1)

True

In [72]:
st.update()

In [73]:
st

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [74]:
st.difference_update()
st

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [76]:
st.intersection_update()
st

{2, 3, 4, 5, 6, 7, 8, 9, 10}

# String

In [78]:
name = "prajwala"
name

'prajwala'

In [79]:
name1 = "deode"
name1

'deode'

In [80]:
name+name1

'prajwaladeode'

In [81]:
name.capitalize()

'Prajwala'

In [85]:
name.upper()

'PRAJWALA'

In [86]:
name1.isupper()

False

In [88]:
name.count(name1)

0